@font-face {
    font-family: "CamptonLight";
    src: url(../fonts/CamptonLight.otf) format('opentype');
}

@font-face {
    font-family: "CamptonThin";
    src: url(../fonts/CamptonThin.otf) format('opentype');
}

@font-face {
    font-family: "CamptonMedium";
    src: url(../fonts/CamptonMedium.otf) format('opentype');
}

@font-face {
    font-family: "CamptonSemiBold";
    src: url(../fonts/CamptonSemiBold.otf) format('opentype');
}

@font-face {
    font-family: "CamptonBold";
    src: url(../fonts/CamptonBold.otf) format('opentype');
}

@font-face {
    font-family: "CamptonBook";
    src: url(../fonts/CamptonBook.otf) format('opentype');
}



